{% if section.settings.show_announcement %}
  {% if section.settings.home_page_only == false or template.name == 'index' %}
    <style>
      .announcement-bar {
        background-color: {{ section.settings.color_bg }};
      }

      .announcement-bar--link:hover {
        {% assign brightness = section.settings.color_bg | color_brightness %}

        {% if brightness <= 192 %}
          {% assign lightenAmount = 255 | minus: brightness | divided_by: 255 | times: 16 %}
          background-color: {{ section.settings.color_bg | color_lighten: lightenAmount }};
        {% else %}
          {% assign darkenAmount = 255 | divided_by: brightness | times: 8 %}
          background-color: {{ section.settings.color_bg | color_darken: darkenAmount }};
        {% endif %}
      }

      .announcement-bar__message {
        color: {{ section.settings.color_text }};
      }
      @media(max-width: 767px){
        .announcement-bar__message {
          color: {{ section.settings.mobile_color_text }}
        }
      }
      #shopify-section-announcement-bar{
        z-index:99999;
      }
    </style>

    {% if section.settings.link == blank %}
      <div class="announcement-bar">
    {% else %}
      <a href="{{ section.settings.link }}" class="announcement-bar announcement-bar--link">
    {% endif %}

      <p class="announcement-bar__message">
        {% if section.settings.text1 != blank %}
          <div id="content-1">{{ section.settings.text1 | escape }}</div>
        {% endif %}
        {% if section.settings.text2 != blank %}
        <div id="content-2">{{ section.settings.text2 | escape }}</div>
        {% endif %}
        {% if section.settings.text3 != blank %}
        <div id="content-2">{{ section.settings.text3 | escape }}</div>
        {% endif %}
        {% if section.settings.text4 != blank %}
        <div id="content-2">{{ section.settings.text4 | escape }}</div>
        {% endif %}
        </p>

        
    {% if section.settings.link == blank %}
      </div>
    {% else %}
      </a>
    {% endif %}

  {% endif %}
{% endif %}

{% schema %}
  {
    "name": "Announcement bar",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_announcement",
        "label": "Show announcement",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "home_page_only",
        "label": "Home page only",
        "default": true
      },
      {
        "type": "text",
        "id": "text1",
        "label": "Announcement text 1",
        "default": "Announce something here"
      },
	  {
        "type": "text",
        "id": "text2",
        "label": "Announcement text 2",
        "default": "Announce something here"
      },
      {
        "type": "text",
        "id": "text3",
        "label": "Announcement text 3",
        "default": "Announce something here"
      },
      {
        "type": "text",
        "id": "text4",
        "label": "Announcement text 4",
        "default": "Announce something here"
      },
      {
        "type": "url",
        "id": "link",
        "label": "Announcement link"
      },
      {
        "type": "color",
        "id": "color_bg",
        "label": "Bar color",
        "default": "#dbc18b"
      },
      {
        "type": "color",
        "id": "color_text",
        "label": "Text color",
        "default": "#fff"
      },
	  {
        "type": "color",
        "id": "mobile_color_bg",
        "label": "Mobile Bar color",
        "default": "#dbc18b"
      },
      {
        "type": "color",
        "id": "mobile_color_text",
        "label": "Mobile Text color",
        "default": "#fff"
      }
    ]
  }
{% endschema %}


<script>
  var divs = $('div[id^="content-"]').hide(),
    i = 0;

(function cycle() { 

    divs.eq(i).fadeIn(200)
              .delay(3000)
              .fadeOut(200, cycle);

    i = ++i % divs.length;

})();

</script>